<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주니하랑의 Spring Boot Study</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>Hello JunyHarang</h1>
            <p>회원 기능</p>
            <p>
                <a href="/members/new">회원 가입</a> <!--- 회원 가입을 클릭하면 /member/new로 보낸다. --->
                <a href="/members">회원 목록</a>     <!--- 회원 목록을 클릭하면 /member로 보낸다. --->
            </p>
        </div>
    </div>  <!--- /container --->

</body>
</html>